<h2>Welcome to the User site</h2>
<p>Here's a list of all our users</p>
<ol>
  <%@users.each do |user|%>
    <li>
      <h5><%=user.username%></h5>
      <button><%= link_to "Edit User info", edit_user_path(user)%></button>
    </li>
  </ol>
<%end%>
<p>You can create a new user here!</p>
<br>
<%= link_to "Create user", new_user_path %>